---
layout: page
title: "About"
description: "Hey，this is Virgil."
header-img: "img/about-bg.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，学学金融，看看世界。
        仰望天空，世界那么大，我想和你去看看。
    </blockquote>
           Hi，我是李书勋，92年出生在山东省泰安市。毕业于黑龙江大学，程序员。本身是白羊座，精力比较旺盛，对很多事情都很有热情，包括：电影、金融、虚拟币、心理学和法学。<br><br>
           喜欢高晓松《晓说》似的脱口秀，不喜欢《跑男》似的综艺。喜欢《地球动脉》这样的纪录片，讨厌毫无逻辑的各种电视剧。<br><br>
           作为不看电影会死星原住民。因为距离电影院大概三四千米，正好是我锻炼的区间内，所以经常晚上九点跑步去电影院，酣畅淋漓的看完一场电影，再次跑回家睡觉。个人涉猎比较多的电影是青春题材的电影，当然青春题材的电影大多都是烂片，(╯°□°）╯︵┻━┻  相对于青春题材电影，我更喜欢悬疑侦探类的电影。比如：《东方快车谋杀案》、《尼罗河上的惨案》、 《夏洛克系列》，当然也包含我追了二十几年的《柯南》。(●´∀｀●)ﾉ 好像自己对于恐怖片没有什么抵抗力，几乎没有接触过比较恐怖片，害怕自己睡不着，认为看恐怖片睡不着是一件愚蠢的事情。最近想看《昆池岩》，但是还没有找到陪我看电影的人，没错，我的胆子就是这么小，哈哈哈...<br><br>
           喜欢在公众号看技术博客，知乎看段子和故事，朋友圈中的点赞小能手，羡慕人家生活多姿，很少发状态，对自己浪费生命感到懊悔! <br><br>
           最近在锻炼，有做腹肌撕裂和深蹲，希望自己能拥有健硕的体格，积极向上的心态，洁净的外表。帅这个字这辈子是没有指望┐(ﾟ～ﾟ)┌ <br><br>
           所以，征婚！─=≡Σ(((つ•̀ω•́)つ<br><br>
           欢迎Email交流: shuxun.li.virgil@gmail.com<br><br>
</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
